<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOEIC Part 5 Practice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .question-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<h1>TOEIC Part 5 Practice</h1>

<form method="post" action="/submit_answers">
    {% for question in part5_data %}
            <ul>
                <h3>Question {{ question[2] %100 }}:</h3>
                <p>{{ question[3] }}</p>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="A"> A: {{ question[4]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="B"> B: {{ question[5]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="C"> C: {{ question[6]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="D"> D: {{ question[7]}}</li>
            </ul>
        </div>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>

</body>
</html>
