<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOEIC Part 1 Practice</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        .question-container {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<h1>TOEIC Part 1 Practice</h1>

<form method="post" action="/submit_answers">
    {% for question in part1_data %}
        <div class="question-container">
            <h3>Question {{ question.IDQuestion %100 }}:</h3>
            <p>{{ question.LinkQUESTION }}</p>
            
            <!-- Hiển thị Audio -->
            <audio controls>
                <source src="{{ url_for('get_audio', filename=question[9]) }}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>

            <!-- Hiển thị Picture -->
            <img src="{{ url_for('get_picture', filename=question[8]) }}" alt="Question Image" style="max-width: 100%; height: auto;">

            <!-- Thêm các lựa chọn cho câu hỏi -->
            <ul>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="A"> A: {{ question[3]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="B"> B: {{ question[4]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="C"> C: {{ question[5]}}</li>
                <li><input type="radio" name="question{{ question.IDQUESTION }}" value="D"> D: {{ question[6]}}</li>
            </ul>
        </div>
    {% endfor %}
    <button type="submit">Submit Answers</button>
</form>

</body>
</html>
