<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOEIC Practice</title>
</head>
<body>
    <h1>TOEIC Part Practice</h1>
    
    <a href="Part1.html"><button>Part 1</button></a>
    <a href="Part2.html"><button>Part 2</button></a>
    <a href="Part3.html"><button>Part 3</button></a>
    <a href="Part4.html"><button>Part 4</button></a>
    <a href="Part5.html"><button>Part 5</button></a>
    <a href="Part6.html"><button>Part 6</button></a>
</body>
</html>