<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: 20px;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: left;
        }
    </style>
</head>
<body>

    <h2>InforUser</h2>

    <table>
        <tr>
            <th>IDUser</th>
            <th>Name</th>
            <th>SEX</th>
            <th>Achievement</th>
        </tr>
        <tr>
            <td> {{IDUser}} </td>
            <td> {{Name}} </td>
            <td> {{SEX}} </td>
            <td> {{Achievement}} </td>
        </tr>
        <!-- Add more rows for additional students -->
    </table>
</body>
</html>
